language: ruby
rvm:
  - 2.4.0

env:
  - DB=mysql

script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rspec spec/

before_script:
  - mysql -e 'create database RubyJobsBrazil_test'

sudo: false
