language: ruby
sudo: false
dist: trusty
# cache: bundler
# addons:
#   apt:
#     update: true
rvm:
  - "2.4.0"

before_install:
  - gem update --system
  - gem --version
script:
  - RAILS_ENV=test ./bin/rake db:create
  - RAILS_ENV=test ./bin/rake db:migrate
  - ./bin/rake routes
  - ./bin/rspec --exclude-pattern "spec/{features}/**/*_spec.rb" --exclude-pattern "spec/support/omniauth_controller_specs.rb"
