language: ruby
sudo: false
dist: trusty
services:
  - mysql
cache: bundler
rvm:
  - "2.5.1"

before_install:
  - gem update --system
  - gem --version
script:
  - RAILS_ENV=test ./bin/rake db:create
  - RAILS_ENV=test ./bin/rake db:migrate
  - ./bin/rake routes
  - ./bin/rspec --exclude-pattern "spec/{features}/**/*_spec.rb,spec/controllers/omniauth_callbacks_controller_spec.rb"

notifications:
  on_success: change
  on_failure: change

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client
