<%= render 'recruiter/users/articles/article', article: @article  %>

<div class="row">
  <div class="small-12 columns">
    <%= render 'recruiter/share', object: @article %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'recruiter/comments', object: @article %>
  </div>
</div>
