
<div class="row">
  <div class="small-12 large-4 columns">
    <%= render 'filters' %>
  </div>
  <div id="jobs" class="small-12 large-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <h1><%= t('.title') %></h1>
      </div>
    </div>
    <%= render @jobs %>
  </div>
</div>

<%= paginate @jobs %>
