<h2><%= t('.title') %></h2>

<p class="alert-box"><%= t('.message') %></p>

<% available_oauth_providers.each do |name, provider| %>
  <%= render 'login_button', provider: provider, options: { class: "#{provider} button large secondary" } %>
<% end %>

