@import 'variables'

.list.no-buttons
  list-style: none

table.wide
  width: 100%

  button, .button
    margin: 0
  .actions
    max-width: 80px

.wrapper
  margin: 10px 0

#main_content
  margin-top: 20px
#after_menu
  background: $red
  h1
    color: white
  img
    width: 10%

#jobs
  .job
    margin: 5px
    border-bottom: 1px solid #ccc
    .wrapper
      margin: 10px 0 15px 0
  .published_date
    font-size: 0.75em
  h2
    color: $dark-red

.black
  color: black

.fi-social-github
  &.medium
    font-size: 30px
  &.large
    font-size: 50px
body > footer
  background: $soft-gray

.line
  padding: 5px 0
  font-size: 1em
