table.wide
  width: 100%

  button, .button
    margin: 0
  .actions
    max-width: 74px

.wrapper
  margin: 10px

#jobs
  .job
    margin: 15px 0
  a
    color: inherit
  .job
    background: #eee
    margin-bottom: 5px
  .published_date
    color: gray
    font-size: 10pt
