<footer>
  <div class="row">
    <div class="smal12">
      <ul class="right list no-buttons">
        <li>
          <a title="Fork me on Github!" href="https://github.com/mjacobus/rubyjobsbrazil">
            <i class="fi-social-github medium black" ></i>
            Este projeto é open source!
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
