<% if notice %>
  <div class="alert-box success">
    <div class="row">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert-box alert">
    <div class="row">
      <%= alert %>
    </div>
  </div>
<% end %>
